
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>
            This is William, a Hong Kong working professional who is now a student at <em><a href="https://www.senecacollege.ca/home.html">Seneca College</a></em>. 
            I am currently enrolled in a three-year diploma program in Computer Programming & Analysis.
          </p>                  
          <p>
            I was graduated from the <em><a href="https://ucsd.edu/">University of California, San Diego </a></em><abbr>(UCSD)</abbr> with a bachelor's degree
            in Economics in 2012. Later on I worked as an IT business analyst in the corporate finance sector at <em><a href="https://www.bochk.com/en/home.html">Bank of China</a></em>. 
            As my career progressed, I am hoping to expand my expertise to the technical level, and therefore I am now pursuing a programming qualification in Seneca College. I believe 
            being able to posses with both technical and business skills will propel my career to the next level.
          </p>    
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Who knows what will come next?</p>
        </aside>
      </div>


